<!-- <p>about works!</p> -->
<section class="about container">
    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque temporibus delectus asperiores minima vel, voluptatum alias. Officiis quae, nulla nostrum magnam debitis repellendus? Nemo facere quam qui, magnam nesciunt ea.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque temporibus delectus asperiores minima vel, voluptatum alias. Officiis quae, nulla nostrum magnam debitis repellendus? Nemo facere quam qui, magnam nesciunt ea.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque temporibus delectus asperiores minima vel, voluptatum alias. Officiis quae, nulla nostrum magnam debitis repellendus? Nemo facere quam qui, magnam nesciunt ea.
    </p>
    <div class="follow text-center">
        <h4>Follow us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
</section>
